<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA_compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width" ,initial-scale=1">
    <title> SEND IT </title>
    <link rel="icon" href="../static/home/images/201-2016537_send-message-icon-white-clipart-computer-icons-clip.png"
        type="image/icon type">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/home/css/bootstrap.css">
    <link rel="stylesheet" href="../static/home/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/home/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



</head>
<header>
    <nav class="navbar navbar-fixed-top color-nav">
        <div class="container-fluid">
            <div class="site-nav-wrapper">

                <div class="nav-header">
                    <a href="#home" class="navbar-brand">
                        <img src="../static/home/images/sendit_logo-06_black_300x300.webp" class="logo smooth-scroll"
                            alt="Logo"></a></div>
                <div class="container div collapse navbar-collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="#home" class="smooth-scroll">Home</a></li>
                        <li><a href="#about" class="smooth-scroll">About</a></li>
                        <li><a href="#team" class="smooth-scroll">Team</a></li>
                        <li><a href="#explore" class="smooth-scroll">Explore</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                    </ul>
                </div>


            </div>
        </div>
    </nav>


    <body data-spy="scroll" data-target=".navbar" data-offset="65">
        <div class="overlay">
            <div class='body'>
                <span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <div class='base'>
                    <span></span>
                    <div class='face'></div>
                </div>
            </div>
            <div class='longfazers'>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>

            <h1 class="text">Loading...</h1>
        </div>
        <section id="home">

            <video id="video-bg" poster="../static/home/video/vlcsnap-2019-10-08-16h37m33s568.png" autoplay loop muted>
                <source src="../static/home/video/untitled.mp4" type="video/mp4"></video>
            <div class="video-overlay">
            </div>
            <div id="home-content">
                <div id="home-content-inner" class="text-center">
                    <div id="home-heading">
                        <h1 id="home-heading-1">SEND IT</h1><br>
                        <h1 id="home-heading-2">Talk Better<span> Be Better</span></h1>
                    </div>

                    <div id="home-text">

                        <p>A Real-time Instant Chat Web Application..</p>
                    </div>
                    <div id="home-btn">
                        <a class="btn btn-general btn-home smooth-scroll" href="#about" title="Start Now"
                            role="button">Start Now</a>
                    </div>
                </div>
            </div>
        </section>
</header>
<main>
    <section id="about">
        <div id="about-01">

            <div class="content-box-lg">

                <div class="container">

                    <div class="row">

                        <div class="col-md-6">
                            <div id="about-left">


                            </div>
                            <div id="vertical-text">
                                <h5>Who We Are</h5>
                                <h2>A <strong>Story </strong><br>About Us</h2>


                            </div>


                        </div>
                        <div class="col-md-6">
                            <div id="about-right">

                                <p>We are three aspriring students from PES University Electronic City Campus who are
                                    interested in building an industry leading online chat application
                                    <p>

                                        <p>We aim to combine speed, security and reliability with a minimalistic, clean
                                            user interface</p>
                            </div>


                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div id="about-bottom">

                                <img src="../static/home/images/1272x920design_01.jpg" alt="About US"
                                    class=" lax img-responsive" data-lax-preset="rightToLeft-0.5">
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </div>
        <div id="about-2">
            <div class="content-box-md">

                <div class="container">

                    <div class="row">

                        <div class="col-md-4">

                            <div class="about-item text-center s1">

                                <img src="../static/home/images/rocket-xxl.png" alt="rocket" class="rocket"></img>
                                <h3>Mission</h3>
                                <hr>
                                <p>To bring together speed, reliability and connectivity with a simple, clean user
                                    interface for everyone. Any time. Anywhere.</p>


                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="about-item text-center s2">

                                <img src="../static/home/images/eye-2-xxl.png" alt="rocket" class="rocket"></img>
                                <h3>Vision</h3>
                                <hr>
                                <p>To allow communication without any barriers. Send It strives to provide online
                                    privacy at all times, keeping your messages from prying eyes</p>


                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="about-item text-center s3">

                                <img src="../static/home/images/edit-9-xxl.png" alt="rocket" class="rocket"></img>
                                <h3>Passion</h3>
                                <hr>
                                <p>Founded based on strong belief in open source and transparency, Send It will always
                                    continue to be impervious
                                    to ads and be the simple app you love it to be.
                                </p>

                            </div>
                        </div>

                    </div>


                </div>


            </div>
        </div>

    </section>
    <section id="team">
        <div class="content-box-lg content-box-lg-color">

            <div class="container">
                <div class="row">

                    <div class="col-md-6">

                        <div id="teamleft">

                            <div id="vertical-text text1">

                                <h2 class="name"> Meet Our <strong>Team</strong>
                            </div>
                            <p class="para">"We are Passionate in Exploring new technologies and help society in the
                                same"</p>

                        </div>
                    </div>

                    <div class="col-md-6">

                        <div class="composition">

                            <img src="../static/home/images/k2k.jpg" alt="photo1"
                                class="composition-picture composition-p1">
                            <img src="../static/home/images/rosn.jpg" alt="photo2"
                                class="composition-picture composition-p2">
                            <img src="../static/home/images/tdg.jpg" alt="photo3"
                                class="composition-picture composition-p3">
                        </div>



    </section>
    </div>
    </div>

    <section class="anim" id="explore">
        <h1><strong>Send↔It<strong></h1>
        <h3 class="moto">"A fast, lightweight and secure instant messaging web application!"</h3>

        <div class=" lax box1" data-lax-preset="spin"></div>
        <div class="lax box2" data-lax-scale="700 0, 500 1, 100 1, 0 0" data-lax-anchor="self"></div>
    </section>
    <section></section>

    <section class="features">

        <div class="product">

            <image src="../static/home/images/hhhh.png" alt="product" class="lax apple"
                data-lax-preset="zoomInOut leftToRight">



                <div class="feature-holder lax" data-lax-preset="blurIn driftRight-150">
                    <div class="feature">
                        <h1>✓A clean, easy-access user interface</h1>
                    </div>

                    <div class="feature">
                        <h1>✓ Instantaneous message delivery</h1>
                    </div>
                    <div class="feature">
                        <h1>✓Support for group chats</h1>


                    </div>
                    <div class="feature">
                        <h1>✓Secure, encrypted messages</h1>


                    </div>
                </div>
                <div>

                    <div class="darkmode">
                        <h1>Experience Dark-Mode in one click!</h1>
                        <div class="light lax" data-lax-preset="fadeInOut rightToLeft">
                            <img src="../static/home/images/light.png" alt="light" class="l"></div>
                        <div class="dark lax" data-lax-preset="fadeInOut leftToRight">
                            <img src="../static/home/images/dark.png" alt="dark" class="d">

                        </div>



                    </div>

    </section>



    </section>

    <section class="tech">
        <div class="scratch">
            <h4 class="hh">Built from scratch with</h4>
        </div>

        <div class="content-box-lg">
            <div class="container">
                <div class="row">
                    <div class="progress-elements">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="skill">

                                    <h4>HTML</h4>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 0%;"
                                            aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                                    </div>

                                </div>




                            </div>
                            <div class="col-md-6">



                                <div class="skill">

                                    <h4>Pure CSS & Bootstrap</h4>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 0%;"
                                            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">


                                <div class="skill">

                                    <h4>Java Script / Jquery</h4>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 0%;"
                                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                    </div>

                                </div>



                            </div>
                            <div class="col-md-6">






                                <div class="skill">

                                    <h4>Node.js / Sockets.io</h4>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 0%;"
                                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>










    <section class="footer">

        <div class="final">

            <h5>Copyrighted to <a href="https://github.com/naveenk2k/Send-It" target="_blank"><img
                        src="../static/home/images/sendit_logo-06_black_300x300.webp" class="signlogo"
                        alt="SEND<->IT"></a> 2019 | All rights reserved</h5>


        </div>

    </section>


    <script src="../static/home/js/029 jquery.js"></script>
    <script src="../static/home/js/script.js"></script>
    <script src="../static/home/js/bootstrap/033 bootstrap.js"></script>
    <script src="../static/home/particles/app.js"></script>
    <script src="../static/home/particles/particles.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lax.js"></script>
    <script src="../static/home/js/130 jquery.easing.1.3.js"></script>
    <script src="../static/home/js/jquery.waypoints.min.js"></script>