html {
    height: 100%;
    font-family: 'Montserrat';

    --body: linear-gradient(to right, #373b44, #4286f4);
    --bg: #000000;
    --bg-panel: #434343;
    --color-headings: #3694FF;
    --color-text: #B5B5B5;
    --grey-code: rgb(22, 20, 20);
    --search-wrap: rgb(49, 54, 57);
    --search-box: rgb(39, 40, 41);
    --msg: #B5B5B5;
    --border: black;
    --input: #333333;
    --left-panel-01: rgb(48, 49, 51);
    --left-panel: rgb(48, 49, 51);
    --msg-send: #1B1C1E;
    --icons-color: #ccc;
    --upper-text: rgba(255, 255, 255, 0.6);
    --msg-box: rgb(39, 39, 39);
    --textbox-color: rgb(238, 232, 232);




}

html[data-theme='light'] {
    --bg: #FCFCFC;
    --body: linear-gradient(to right, #89253e, #3a6186);
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    --color-text: #333333;
    --grey-code: #f5f5f5;
    --search-wrap: #fff;
    --search-box: #fafafa;
    --msg: rgba(58, 61, 58, 0.7);
    --border: #fff;
    --input: #fff;
    --left-panel: #EBEBEB;
    --msg-box: white;
    --msg-send: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    --left-panel-01: #EBEBEB;
    --icons-color: black;
    --upper-text: darkolivegreen;
    --textbox-color: #000000;
}




body {


    background: var(--body);

    font-family: sans-serif;

}

.container {

    margin: 60px auto;
    background: var(--bg);
    padding: 0;
    border-radius: 8px;
    max-width: 990px;
    max-height: 582px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);



}

.over-scroll {
    max-width: 990px;
    max-height: 468px;
    overflow: auto;
    min-height: 468px;

}

.profile-pic {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 25px;

}


.top-left-panel {
    background: var(--left-panel);
    padding: 10px 15px;
    border-radius: 8px;
}

.left-panel-01 {
    background: var(--left-panel-01);
}

.top-left-panel i {

    margin-top: 10px;
    font-size: 25px;
    color: grey;
    margin-left: 10px;
    transition: all .4s;
    position: relative;
}

.top-left-panel i:hover {


    color: var(--color-headings);
    cursor: pointer;
}

.search-box {
    background: var(--search-box);
    padding: 10px 13px;
    width: 100%;

}

.wrapper-search {
    background: var(--search-wrap);
    width: 90%;
    border-radius: 40px;

}

.search-box i {
    vertical-align: middle;

    color: grey;
    margin-left: 9px;

}

.search-box input {
    border: none;
    border-radius: px;
    width: 80%;
    background: var(--input);
    color: grey;
}




input:focus {
    outline: none;

}

.search-box input::placeholder {
    text-align: center;


}

.contacts-drawer {
    position: relative;
    display: flex;
    vertical-align: baseline;
    padding: 10px 15px;
    transition: all .4s;
    background: var(--grey-code);
    border-bottom: 2.5px solid var(--border);


}

.text {
    margin-left: 11px;
    width: 70%;


}



.contacts-drawer p {
    margin: 0;
    font-size: 14px;
    color: var(--msg) !important;
}

.contacts-drawer h5 {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 15px;
    color: var(--color-headings);

}

.contacts-drawer:hover h5 {

    color: white;

}

.contacts-drawer:hover {
    background: var(--color-headings);
    cursor: pointer;
}

.muted {
    color: var(--msg);

}

.contacts-drawer:hover .muted {
    color: #decaab;
}

hr {

    margin: 2.5px auto;
    width: 60%;


}

.no-gutter {
    padding-right: 0px;

}

.no-gutter-1 {

    padding-left: 2px
}

.text-small {
    font-size: 13px !important;
    color: var(--color-text);
    margin-top: 5px !important;



}

.text-small-1 {

    font-size: 13px !important;
    color: var(--upper-text) !important;



}

.no-padding {
    padding: 0;
}



ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    clear: both;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
}

ul li h5 {
    font-weight: bold;
    font-size: medium;
    margin-top: 1px;
    margin-bottom: 5px;
}

.left {
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    float: left;
    margin-left: 10px;
    margin-top: 11px;
    max-width: 75%;
}

.right {
    float: right;
    background: #00c6ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    margin-right: 10px;
    margin-top: 11px;
    max-width: 75%;
}

.center {
    font-size: small;
    padding-top: 5px;
    padding-bottom: 1px;
    width: 100%;
    text-align: center;
    color: rgb(133, 131, 131);
}

.left+.right {
    border-bottom-right-radius: 5px;
}

.right+.right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.right:last-of-type {
    border-bottom-right-radius: 30px;
}

.message-sender {

    position: absolute;
    /* top:522px;*/
    bottom: 0px;

    background: var(--msg-send);
    padding: 15px 15px;
    max-width: 700px;
    border-radius: 9px;


}

.col-md-12 {

    width: 97.5%;
}



.flex i {
    vertical-align: middle;
    color: var(--icons-color);
    margin-left: 9px;
    margin-top: 6px;
    margin-right: 10px;
    transition: all .2s;

}

.flex i:hover {

    color: var(--color-headings);
    cursor: pointer;
}

.message input {
    border: none;

    width: 100%;
}




input:focus {
    outline: none;

}

.message input::placeholder {
    text-align: center;


}

.flex {

    display: flex;
    vertical-align: baseline;


}

.just-right {

    margin-left: 80px;
}

.chat-box {
    max-width: 100%;
    max-height: 438px;
    overflow: auto;
}

.no-hover:hover {
    background: none !important;
}

.onload {
    position: fixed;
    top: 94px;
    left: 798px;
}

.onload1 {
    position: fixed;
    top: 100px;
}

.logo {
    width: 50px;
}

.copyrights {
    color: white;
    text-align: center;
    filter: opacity(0.4);
    position: relative;
}

.rotate {
    transform: rotate(120deg);
}

.border-l {
    border-left: 3px black;
}

svg:first-child {
    margin-right: 13px;
    margin-top: 10px;

}

svg:last-child {
    margin-top: 10px;


}

.logout:hover {

    cursor: pointer;

}

.settings:hover {
    cursor: pointer;
}

textarea.edit {
    position: relative;
    left: 3px;
    right: 50px;
    padding: 10px;
    min-height: 40px;
    background: var(--msg-box);
    border-radius: 15px;
    width: 350px;
    margin-left: 5px;
    max-height: 55px;
    overflow: auto;
    color: var(--textbox-color);
}

textarea.edit:focus {
    outline: none;
    border: 0.4px solid #01FF70;
}

.online {
    position: absolute;
    height: 8px;
    width: 8px;
    right: 253px;
    top: 52px;

    background-color: #1EAE54;
    border-radius: 50px;
    display: inline-block;
}

.online-user {
    position: absolute;
    height: 8px;
    width: 8px;
    top: 50px;
    left: 60px;

    background-color: #1EAE54;
    border-radius: 50px;
    display: inline-block;
}

.no-background {
    background: var(--left-panel);
    border: none;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
    top: 10px;
}

label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked+label {
    background: var(--color-headings);
}

input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

.simplebar-scrollbar {
    margin-right: 10px;
}