/*colors PRIMARY DARK THEMES used by tushar
SHARK:#1A1A1D;
Abbey :#4E4E50;
Crown of Thorns: #6F2232;
Monarch : #950740;
Shiraz :#C3073F;
SECONDARY///
Crete:#61892F;
Atlantis:#86C232;
Shark1:#222629;
Abbey1:#474B4F;
Nevada:#6B6E70; 
-------------------Fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif; 
----------------------------------------------------------------------*/




html,
body {
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: 'Montserrat', sans-serif;

}

.navbar {
    padding: 10px 0 12px 0;

}

.site-nav-wrapper {
    padding: 0 60px;
    margin: 0;
}

.navbar-brand {
    padding: 0;

}

ul.navbar-nav > li > a {
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.logo {
    width: 50px;
    padding: 0;
    margin-left: 20px;
}

ul.navbar-nav > li > a:hover,
ul.navbar-nav > li > a:focus {
    background: none;
    color: #f4c613;
}

.color-nav {
    background: #dba51a;

    
    padding: 7px 0;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;

}

.color-nav ul.navbar-nav > li > a {
    color: #212226;
}

.color-nav ul.navbar-nav > li > a:hover,
.color-nav ul.navbar-nav > li > a:focus {
    color: #fff;

}

p {
    color: #6B6E70;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

section {
    overflow: hidden;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

.overlay {
    height: 100%;
    width: 100%;
    background: #f1c40f;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

.text {
    color: black;
    position: absolute;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    left: 50%;
    top: 58%;

}

.body {
    position: absolute;
    top: 50%;
    margin-left: -50px;
    left: 50%;
    animation: speeder .4s linear infinite;
}

.body > span {
    height: 5px;
    width: 35px;
    background: #000;
    position: absolute;
    top: -19px;
    left: 60px;
    border-radius: 2px 10px 1px 0;
}

.base span {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 100px solid #000;
    border-bottom: 6px solid transparent;
}

.base span:before {
    content: "";
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    right: -110px;
    top: -16px;
}

.base span:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-right: 55px solid #000;
    border-bottom: 16px solid transparent;
    top: -16px;
    right: -98px;
}

.face {
    position: absolute;
    height: 12px;
    width: 20px;
    background: #000;
    border-radius: 20px 20px 0 0;
    transform: rotate(-40deg);
    right: -125px;
    top: -15px;
}

.face:after {
    content: "";
    height: 12px;
    width: 12px;
    background: #000;
    right: 4px;
    top: 7px;
    position: absolute;
    transform: rotate(40deg);
    transform-origin: 50% 50%;
    border-radius: 0 0 0 2px;
}

.body > span > span:nth-child(1),
.body > span > span:nth-child(2),
.body > span > span:nth-child(3),
.body > span > span:nth-child(4) {
    width: 30px;
    height: 1px;
    background: #000;
    position: absolute;
    animation: fazer1 .2s linear infinite;
}

.body > span > span:nth-child(2) {
    top: 3px;
    animation: fazer2 .4s linear infinite;
}

.body > span > span:nth-child(3) {
    top: 1px;
    animation: fazer3 .4s linear infinite;
    animation-delay: -1s;
}

.body > span > span:nth-child(4) {
    top: 4px;
    animation: fazer4 1s linear infinite;
    animation-delay: -1s;
}

@keyframes fazer1 {
    0% {
        left: 0;
    }

    100% {
        left: -80px;
        opacity: 0;
    }
}

@keyframes fazer2 {
    0% {
        left: 0;
    }

    100% {
        left: -100px;
        opacity: 0;
    }
}

@keyframes fazer3 {
    0% {
        left: 0;
    }

    100% {
        left: -50px;
        opacity: 0;
    }
}

@keyframes fazer4 {
    0% {
        left: 0;
    }

    100% {
        left: -150px;
        opacity: 0;
    }
}

@keyframes speeder {
    0% {
        transform: translate(2px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -3px) rotate(-1deg);
    }

    20% {
        transform: translate(-2px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 3px) rotate(-1deg);
    }

    60% {
        transform: translate(-1px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-2px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(2px, 1px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.longfazers {
    position: absolute;
    width: 100%;
    height: 100%;
}

.longfazers span {
    position: absolute;
    height: 2px;
    width: 20%;
    background: #000;
}

.longfazers span:nth-child(1) {
    top: 20%;
    animation: lf .6s linear infinite;
    animation-delay: -5s;
}

.longfazers span:nth-child(2) {
    top: 40%;
    animation: lf2 .8s linear infinite;
    animation-delay: -1s;
}

.longfazers span:nth-child(3) {
    top: 60%;
    animation: lf3 .6s linear infinite;
}

.longfazers span:nth-child(4) {
    top: 80%;
    animation: lf4 .5s linear infinite;
    animation-delay: -3s;
}

@keyframes lf {
    0% {
        left: 200%;
    }

    100% {
        left: -200%;
        opacity: 0;
    }
}

@keyframes lf2 {
    0% {
        left: 200%;
    }

    100% {
        left: -200%;
        opacity: 0;
    }
}

@keyframes lf3 {
    0% {
        left: 200%;
    }

    100% {
        left: -100%;
        opacity: 0;
    }
}

@keyframes lf4 {
    0% {
        left: 200%;
    }

    100% {
        left: -100%;
        opacity: 0;
    }
}

body {
    background: #1A1A1D;
}

#home {
    background: none;
    height: 100%;

}

#video-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url("video/vlcsnap-2019-10-08-16h37m33s568.png") no-repeat;
    background-size: cover;

}

.video-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#home-content {
    padding: 5% 0%;




}

#home-content-inner {
    padding: 10% 0%;
}


#home-heading-1 {
    color: #fff;
    font-size: 75px;
    font-family: 'Monoton', cursive;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;

}

#home-heading-2 {

    font-family: 'Nothing You Could Do', cursive;
    font-size: 35px;
    text-transform: uppercase;



}

#home-heading-2 span {

    color: #C3073F;
}

#home-text p {
    font-size: 16px;
    font-weight: 300;
}

.btn-general {
    border-radius: 28px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 25px 0px;
    padding: 12px 46px 12px 46px;
    transition: all .5s;


}

.btn-home {
    color: #fff;
    transition: all .2s;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 30px;

}

.btn-home:hover,
.btn-home:focus {

    animation: animate 8s linear infinite;
    transform: scale(1.1);
    color: white;
}

@keyframes animate {

    0% {
        background-position: 0%;
    }

    100% {

        background-position: 300%;
    }
}

.btn-home::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 40px;


}













header {
    height: 100vh;
}

.tempspace {

    background: #1A1A1D;
}

#about {

    background: #1A1A1D;

}

.content-box-lg {
    padding: 120px 0;

}

#vertical-text h5 {

    color: #C3073F;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    word-spacing: 4px;
    display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    top: 70px;
    left: -84px;

}

#vertical-text h2 {
    margin: 0 0 0 35px;
    font-size: 42px;
    font-weight: 100;
    line-height: 45px;

}

#about-right p:first-child {
    margin-bottom: 30px;



}

#about-bottom img {
    margin: 0 auto;

}

#about-2 {
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.about-item {

    background: #1F1C2C;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #1F1C2C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 40px 50px;
    transition: 0.5s;
    box-shadow: -10px 25px 50px rgba(0, 0, 0, .3);



}

.about-item:hover {

    box-shadow: -20px 50px 100px rgba(0, 0, 0, .8);
}

.rocket {
    width: 50%;

}

.about-item hr {

    width: 45px;
    height: 3px;
    background-color: #f4c613;
    margin: 0 auto;
    border: none;


}

.about-item p {
    margin-top: 20px;
    color: whitesmoke;

}

.content-box-md {
    padding: 120px 0;


}

s1 {
    transition: all .2s;
}

.s1:hover {
    opacity: 1;
    background: linear-gradient(#03A9F4, #E91E63);
    transform: scale(1.1);

}

.s2:hover {

    opacity: 1;
    background: linear-gradient(#FFC107, #19fd36);
    transform: scale(1.1);
}


.s3:hover {

    opacity: 1;
    background: linear-gradient(#FFC107, #E91E63);
    transform: scale(1.1);


}

.composition {
    position: relative;
}

.composition-picture {
    width: 40%;
    position: absolute;
    -webkit-box-shadow: 0 1.5rem 30px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1.5rem 30px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .2s;
    transition: all .2s;
    outline-offset: 1.5rem;
}

.composition-picture:hover {
    outline: 0.95rem solid #55c57a;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-box-shadow: 0 1.5rem 30px rgba(0, 0, 0, 0.8);
    box-shadow: 0 1.5rem 30px rgba(0, 0, 0, 0.8);
    z-index: 20;
}

.composition:hover .composition-picture:not(:hover) {
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.composition-p1 {
    left: 0rem;
    top: -5rem;
}

.composition-p2 {
    left: 20rem;
    top: -1rem;
}

.composition-p3 {
    width: 33%;
    left: 20%;
    top: 7rem;
}

.content-box-lg-color {
    background: #1A1A1D;
    padding: 220px;


}

.para {
    font-size: 20px;
    margin: 0 auto;
    background: #833ab4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .3s;

}

.para:hover {
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
}

.name {
    font-size: 55px;
}





section.anim {

    background: #1989A6;
    padding: 12em;
    height: calc(100vh - 24em);

    position: relative;
}

section.anim h1 {
    position: absolute;
    font-size: 10em;
    text-transform: uppercase;
    margin: 0;
    z-index: 1;
    left: 15%;
}

section.anim p {
    position: absolute;
    font-size: 2em;
    width: 40%;
    z-index: 1;
    top: 500px;
}

section.anim .box1 {
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 0;
    width: 800px;
    height: 800px;
    border: 30px solid #20A2C3;
    overflow: hidden;
    transform: rotateZ(65deg);
}

section.anim .box2 {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 0;
    width: 200px;
    height: 200px;
    border: 30px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
}

.list-project {

    position: absolute;
    top: 200px;

}

.moto {

    position: relative;
    top: 150px;
    font-size: 22px;


}

.features {
    position: relative;
    background: black;

}

.product {
    width: 300pxpx;

}

.apple {
    width: 80%;
}

.feature-holder {
    padding: 50px;
    position: absolute;
    top: 280px;

}

.feature {

    margin-left: 30px;
    margin-top: 55px;

}

.feature h1 {
    font-size: 30px;
}

.darkmode h1 {
    text-align: center;


}

.light,
.dark {

    width: 70%;
}

.l {
    margin-top: 20px;
    margin-left: 500px;
}

.d {
    margin-left: 60px;
}

.l,
.d {
    padding: 30px;
    width: 75%;

}

.dark {
    margin-top: 30px;
}

.darkmode h1 {
    color: aqua;
    text-transform: uppercase;
    font-size: 36px;
}

.skill {
    margin-bottom: 20px;

}

.skill h4 {
    line-height: 62px;
    margin: 0;
    font-weight: normal;

}

.progress {
    height: 25px;
    border-radius: 0;
    background: #efefef;
    overflow: visible;

}

.progress-bar {

    background: #f4c613;
    position: relative;


}

.hh {
    text-align: center;
    text-transform: uppercase;
    font-size: 33px;
    margin-top: 40px;
}

.footer {
    padding:20px;


    background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A8CABA, #5D4157);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.signlogo {
    width: 35px;
}

.final h5 {
    text-align: center;
}

